<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}edit list{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var counter = Number('{{ item_count }}');
        var maxItems = 64;
        function addFormField() {
            if (counter >= maxItems) {
                $('#max-items-message').text('cannot add more than (' + maxItems + ') items.');
                return
            }
            counter++;
            var newItem = `
                <div class="item">
                    <label for="item${counter}">item:</label>
                    <input type="text" name="item_name[]" id="item${counter}" required>
                    <label for="quantity${counter}">quantity:</label>
                    <input type="number" name="quantity[]" id="quantity${counter}" required>
                    <label for="uom${counter}">unit:</label>
                    <input type="text" name="uom[]" id="uom${counter}" required>
                    <label for="category${counter}">category:</label>
                    <select name="category[]" id="category${counter}" required>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            `;
            $('#item-container').append(newItem);
        }
        $('#add-item-button').click(function () {
            addFormField();
        });
    });
</script>
{% endblock %}

{% block content %}
<div>
    <h1>edit {{ list_name }}</h1>
    <form action="{{ url_for('submit_edits') }}" method="post">
        <div>
            <label for="list_name">list name: </label>
            <input type="text" name="list_name" id="list_name" value="{{ list_name }}" required>
            <input type="hidden" name="list_id" value="{{ list_id }}">
        </div>
        <div id="item-container">
            {% for item in list_items %}
            <div class="item">
                <input type="text" name="item_name[]" value="{{ item['name'] }}" readonly>
                <input type="number" name="quantity[]" value="{{ item['quantity'] }}">
                <input type="text" name="uom[]" id="{{ item['uom'] }}" value="{{ item['uom'] }}" readonly>
                <input type="text" name="category[]" id="{{ item['category'] }}" value="{{ item['category'] }}" readonly>
                <input type="checkbox" name="deleted[]" value="{{ item['id'] }}">
                <label for="deleted[]">delete</label>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-item-button">add item</button>
        <p id="max-items-message"></p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit">save changes</button>
    </form>
</div>
{% endblock %}