<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h2>login</h2>
<p>[this be the login page]</p>

{% if session.username %}
<p>you are logged in as <b>{{ session.username }}</b> (:</p>
<form action="/logout" method="post">
    <input type="submit">log out</input>
</form>

{% else %}
<p>no account? <a href="{{ url_for('register') }}">register</a></p>
<form action="/login" method="post">
    <p>username: <input type="text" name="username"></p>
    <p>password: <input type="password" name="password"></p>
    <p><input type="submit" value="log in"></p>
</form>
{% endif %}

{% endblock %}