<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}log in{% endblock %}

{% block content %}
<div>
    <h1>login</h1>
    <p>[this be the login page]</p>

    {% if session.user_id %}
    <p>you are already logged in as <b>{{ session.username }}</b>!</p>
    {% else %}
    <p>no account? <a href="{{ url_for('register') }}">register</a></p>
    <form action="{{ url_for('login_check') }}" method="post">
        <p>username: <input type="text" name="username" required></p>
        <p>password: <input type="password" name="password" required></p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <p><input type="submit" value="log in"></p>
    </form>
    {% endif %}

</div>
{% endblock %}
