<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}create a new grocery list{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
  $(document).ready(function () {
    var counter = 1;
    var maxItems = 64;
    function addFormField() {
      if (counter >= maxItems) {
        $('#max-items-message').text('cannot add more than (' + maxItems + ') items.');
        return
      }
      counter++;
      var newItem = `
        <div class="item">
          <label for="item${counter}">item:</label>
          <input type="text" name="item_name[]" id="item${counter}" required>
          <label for="quantity${counter}">quantity:</label>
          <input type="number" name="quantity[]" id="quantity${counter}" required>
          <label for="uom${counter}">unit:</label>
          <input type="text" name="uom[]" id="uom${counter}" required>
          <label for="category${counter}">category:</label>
          <select name="category[]" id="category${counter}" required>
            {% for category in categories %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
          </select>
        </div>
    `;
      $('#item-container').append(newItem);
    }
    $('#add-item-button').click(function () {
      addFormField();
    });
  });
</script>
{% endblock %}

{% block content %}
<div>
  <h1>new grocery list</h1>
  <form action="{{ url_for('submit_list') }}" method="post">
    <div>
      <label for="list_name">list name (optional)</label>
      <input type="text" name="list_name" id="list_name">
    </div>
    <div id="item-container">
      <div class="item">
        <label for="item1">item:</label>
        <input type="text" name="item_name[]" id="item1" required>
        <label for="quantity1">quantity:</label>
        <input type="number" name="quantity[]" id="quantity1" required>
        <label for="uom1">unit:</label>
        <input type="text" name="uom[]" id="uom1" required>
        <label for="category1">category:</label>
        <select name="category[]" id="category1" required>
          {% for category in categories %}
          <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="button" id="add-item-button">add item</button>
    <p id="max-items-message"></p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit">save list</button>
  </form>
</div>
{% endblock %}